body {
  background-color: rgb(253, 251, 251);
}

p, li {
  color: rgb(13, 26, 38);
  font-size: 90%;
}

p { 
  line-height: 95%;
}

li {
  line-height: 130%;
}

#cabecalho {
  top: 0;
  position: fixed;
  padding: 0 35% 0;
}

#rodape {
  text-align: center;
}

.aprendizado {
  font-weight: 600;
  font-style: italic;
}

.magia {
  font-family: Lucida, serif;
  font-style: italic;
  text-align: justify;
}

.fonte {
  display: inline-block;
}

#artigo1 {
  width: 80%;
  display: inline-block;
}

#artigo2 {
  width: 85%;
  display: inline-block;
}
